{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>Welcome to My Awesome Cart – Your Ultimate Shopping Destination!

At My Awesome Cart, we believe that shopping is not just a transaction; it's an experience, a journey of discovery, and a reflection of individual style. We've created an online shopping haven where you can indulge in the joy of finding the perfect products that resonate with your unique tastes and desires.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Story</h2>
        <p>Our journey began with a simple idea: to provide a platform that seamlessly connects shoppers with an incredible array of products, all in one place. My Awesome Cart was born out of a passion for convenience, quality, and the thrill of shopping. Since our inception, we've been committed to curating a diverse collection of products that cater to your every need and inspire your shopping journey. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>What Sets Us Apart</h2>
        <p><h5>Curated Selection:</h5> Our team of dedicated curators scours the market to handpick products that stand out for their quality, innovation, and style. From the latest tech gadgets to timeless fashion essentials, we strive to offer a selection that meets the diverse preferences of our valued customers.

        <h5>User-Centric Experience:</h5> We understand that every shopper is unique, and that's why we've designed My Awesome Cart to be user-centric. Our intuitive interface, seamless navigation, and personalized recommendations ensure that your shopping experience is both enjoyable and efficient.

<h5>Quality Assurance:</h5> Quality is non-negotiable for us. We partner with trusted suppliers and brands to ensure that every product you purchase from My Awesome Cart meets the highest standards of excellence. Your satisfaction and trust are paramount to us.

        <h5>Customer Care:</h5> Our journey doesn't end when you complete a purchase. Our dedicated customer support team is here to assist you every step of the way – from inquiries and assistance during your shopping journey to after-sales support and returns. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>Our vision is to redefine online shopping by offering a platform that not only delivers products but also enriches lives. We aim to inspire, elevate, and delight you with each visit to My Awesome Cart. As we grow, our commitment to innovation, sustainability, and the joy of shopping remains unwavering.

Thank you for choosing My Awesome Cart. Join us on this exciting journey of exploration, expression, and exceptional shopping. Your happiness is our motivation, and your satisfaction is our reward.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; My Awesome Cart 2020-2023</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}
